@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-weight: 300;
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
}